version: '3.8'

services:
  mysql:
    image: mysql:9.0.1
    container_name: mysql-edot
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PWD}
      MYSQL_DATABASE: ${MYSQL_DB}
    ports:
      - "3306:3306"  # Expose port MySQL
    volumes:
      - db_data:/var/lib/mysql  # Menyimpan data MySQL agar persisten
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
#    networks:
#      - mysql_network

  run-api:
    build:
      dockerfile: api.Dockerfile
    depends_on:
      mysql:
        condition: service_healthy
    container_name: test-edot-api
    restart: on-failure
    ports:
      - "8081:8081"
    env_file:
      - .env

volumes:
  db_data:
    driver: local

#networks:
#  mysql_network:
#    driver: bridge
