version: '3.8'

services:
  db:
    image: mysql:9.0.1
    container_name: mysql-edot
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_USER: edot
      MYSQL_PASSWORD: edot123
      MYSQL_DATABASE: test-edot
    ports:
      - "3306:3306"  # Expose port MySQL
    volumes:
      - db_data:/var/lib/mysql  # Menyimpan data MySQL agar persisten
#    networks:
#      - mysql_network

volumes:
  db_data:
    driver: local

#networks:
#  mysql_network:
#    driver: bridge
